@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

/*--------------------------------*/
/* Custom Properties              */
/*--------------------------------*/


:root {
    /* Colors */
    --clr-grey: 0 0% 14%;
    --clr-black: 0 0% 8%;
    --clr-green: 153 71% 59%;
    --clr-ltgrey: 0 0% 85%;
    --clr-white: 0 0% 100%;

    /* Fonts */

    --ff-space-grotesk:  "Space Grotesk", sans-serif;

    /* Font Sizes */
    --fs-1: 5.5rem;
    --fs-2: 3rem;
    --fs-3: 1.5rem;
    --fs-4: 1.125rem;


    /* Font Weights */
    --fw-normal: 400;
    --fw-bold: 500;

    /* Character Spacing */
    --cs-1: -2.5px
    --cs-2: -1.5px

    /* Line Height */
    --lh-1: 88px;
    --lh-2: 56px;
    --lh-3: 32px;
    --lh-4: 28px;


}

/*--------------------------------*/
/* Reset                          */
/*--------------------------------*/

*, *::before, *::after {
    box-sizing: border-box;
}

/* Reset margins                          */

body, h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 0;
    text-wrap: balance;
}

p, li {
    text-wrap: pretty;
}

header, footer, main, section, article {
    container-type: inline-size;
}

/* Set body                               */

body {
    font-family: var(--ff-space-grotesk);
    width: clamp(375px, 100%, 1440px);
    background-color:  hsl(var(--clr-black));
    line-height: 150%;
    letter-spacing: 0px;
    font-size: var(--fs-4);
    color: hsl(var(--clr-white))
}

/* Image Settings                        */
img {
    display: block;
    max-width: 100%;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {  
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }

/*--------------------------------*/
/* Utility Classes                */
/*--------------------------------*/

/* Screen Reader Only Class */

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.flex {
    display: flex;
}

.grid {
    display: grid
}

/* Font Classes                   */

/* Color Classes                  */

/*--------------------------------*/
/* Styling                        */
/*--------------------------------*/




/*--------------------------------*/
/* Styling for small screens      */
/*--------------------------------*/